@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EDE6D6;
}
.hero{
    background-color: #F9BE4A;
}
.hero,
.sem1,
.myside,
.formbox,
.form {
    width: 90%;
    margin: 20px auto;
}
.sem1{
    background-color: #D6E789;
}
.hero,
.sem1,
.myside,
.formbox,
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img,
.sem1 img {
    height: 300px;
    width: 300px;
    margin: 20px 15px;
    border: 5px solid #ff7675;
}

.wordsection {
    width: fit-content;
    height: 90%;
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
}

.wordsection h1 {
    color: #2272FF;
    font-weight: 1000;
}

.wordsection h1 span {
    font-family: 'Single Day', cursive;
    font-size: 35px;
    white-space: nowrap;
    overflow: hidden;
    color: #ff7675;
    text-decoration: underline #2272FF;
}

.wish {
    width: 90%;
    font-size: 18px;
    font-weight: 700;
    word-spacing: 1px;
    margin: 15px 20px;
}

.wordsection h4 {
    font-size: 18px;
    background-color: #ff7675;
    width: fit-content;
    padding: 8px;
    border-radius: 20px;
}

.mytext {
    background-color: #2272FF;
    font-size: 18px;
    word-spacing: 1px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 10px;
}

.word {
    width: 80%;
    align-self: center;
    background-color: #ff7675;
    color: #FFFF;
    font-size: 18px;
    padding: 20px;
    border-radius: 30px;
    margin: 15px 10px;
}

.somepicofus {
    display: flex;
    flex-direction: column;
}

.somepicofus h2 {
    align-self: center;
    margin: 15px 0;
    color: #2272FF;
    text-decoration: underline #ff7675;
    font-size: 25px;
}

.images,
.images2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.images img{
    height: 350px;
}
.images2 img {
    height: 250px;
    width: 30%;
    margin: 10px;
}

.myside {
    margin: 15px 10px;
}

.myside h6 {
    font-size: 16px;
    margin: 15px 5px;
}

.myside p {
    font-size: 16px;
    margin: 15px 10px;
}

.thnx {
    background-color: #ff7675;
    color: #FFFF;
    padding: 8px;
    width: fit-content;
}

.formbox {
    width: fit-content;
    height: max-content;
    border: 2px solid #2272FF;
    border-radius: 20px;
    margin: 30px;
    padding: 5px;
}

.formbox p {
    font-size: 18px;
    background-color: #D6E789;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.form input,
.form textarea {
    width: 80%;
    margin-bottom: 15px;
}

.form button {
    width: fit-content;
    height: fit-content;
    background-color: #ff7675;
    color: #2272FF;
    font-size: 25px;
    font-weight: 900;
    margin: 30px;
    padding: 7.5px;
    border-radius: 20px;
}

@media only screen and (max-width: 400px) {
    .wordsection h1 span {
        font-size: 30px;
    }
    .images img{
        height: 400px;
        width: 30%;
    }
    .images2 img {
        height: 150px;
        width: 40%;
        margin: 10px;
    }
    .sem1 img {
        height: 300px;
        width: 100%;
    }

}
